<section class="contact-details" *ngIf="contact$ | async as contact">

    <div class="contact-img" style.background-image="url('{{contact.imgUrl}}')"></div>
    <div class="contact-data">
        <p class="name">{{contact.name}}</p>
        <p class="email">{{contact.email}}</p>
        <p class="phone">{{contact.phone}}</p>
    </div>
    <div class="actions">
        <button (click)="onBack()" class="back-btn">Back</button>
        <button>gaga</button>
        <button>gugu</button>
    </div>
</section>/