// mixins 

@mixin profile-img($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: rgb(135, 135, 135);
    background-size: $size;
    background-position: cover;
    background-repeat: no-repeat;
}
